<div class="container-formulaire">
<h2>Edit atelier</h2>
  <div class="formulaire">
    <div>
      <%= simple_form_for @atelier do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :style, collection:["Atelier cuisine", "Atelier broderie","Atelier photographie", "Atelier de tissage", "Atelier de cuir", "Atelier de poterie", "Atelier de textile", "Atelier de gravure"]%>
        <%= f.input :details %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :price_per_day %>
        <%= f.button :submit, class: "button" %>
      <% end %>
    </div>
  </div>

</div>
