

<div class ="titre text-center">
  <h2><%= @style ? @style : "Tous les ateliers" %> <%= "à #{@address}" if @address %></h2>
  <p><%= pluralize @ateliers.length , 'ateliers'%> </p>
</div>



<div class="container">
  <div class="row">
    <div class="list-cards col-6">
      <% @ateliers.each do |atelier| %>
        <div class ="card">
          <% if atelier.photos.attached? %>
            <%= link_to (cl_image_tag(atelier.photos.first.key,
            width: 400, height: 300, crop: :fill)), atelier_path(atelier) %>
          <% else %>
            <%= link_to (image_tag("https://picsum.photos/400/300",
            width: 400, height: 300, crop: :fill)),  atelier_path(atelier)%>
          <% end %>
          <div class="atelier-info px-4">
            <div class="style-name "><%= link_to atelier.name %>
            </div>
            <div class="style-details"><%= atelier.address %>
            </div>
            <div class="price-left">
              <%= atelier.price_per_day%>€/jour
              <%# <p>
              <%= link_to "Show atelier", atelier_path(atelier) %>
              <%# </p> %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <div id="map">
        <div style="width: 100%; height: 100vh;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
