<div class="container">
  <div class= "col-12 col-md-6">
    <div class= "container-details">
      <h1 class="title"><%= @atelier.name %></h1>
      <h5 class = "undertitle"><%= @atelier.style %></h5>
      <p class="texte"><%= @atelier.address %></p>
    </div>

    <div class="container-details w-100">
      <div class="col-12 col-md-6 w-75">
        <h4 class="title">Détails</h4>
        <p class = "texte"><%= @atelier.details %></p>
      </div>
    </div>

        <div class="container-details w-100">
      <div class="col-12 col-md-6 w-75">
        <h5 id= "proprietaire"><%= @atelier.user.first_name %> <%= @atelier.user.last_name %></h5>
        <p class = "texte">Propriétaire </p>
      </div>
    </div>

  </div>

  <div class= "col-12 col-md-6 show_page_">
      <div id="carouselExampleControls" class="carousel slide container-details p-0 mb-4" data-ride="carousel">
          <div class="carousel-inner">
            <% @atelier.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= "active" if index == 0 %>">
                <%= cl_image_tag photo.key, class:"d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>

      <div class="card_reservation container-details w-100">
          <h4>Prix par jour : <span class="strong"><%= @atelier.price_per_day %>€</span></h4>
            <%= simple_form_for [@atelier, @reservation] do |f| %>
              <%= f.input :start_date%>
              <%= f.input :end_date%>
              <% if @atelier.user == current_user %>
                <%= f.button :submit, class: "button disabled"%>
              <% else %>
                <%= f.button :submit, class: "button"%>
              <% end %>
            <% end %>
      </div>
  </div>

</div>
